# 5.11 ***While Loop***

In [ ]:
#while adalah proses pengulangan suatu blok kode program selama sebuah kondisi terpenuhi
#perulangan while merupakan perulangan yang tidak pasti
x = 0
while x<5:
  y=x**2
  x = x+1
  print (str(y))
  print (str(x))
#while loop akan dieksekusi apabila bernilai benar dan terus mengalami pengulangan sampe bernilai False 
#while loop akan berhenti apabila bernilai False

0
1
1
2
4
3
9
4
16
5

In [ ]:
a = 0
while a<5:
  print("angka " + str(a) + " masih dibawah 5")
  a+= 1
#misalkan membuat program dengan bilangan bulat, dengan memasukkan bilangan a lebih besar dari 5
#lalu pada print menambahkan kata-kata yang ingin dihasilkan oleh output apabila program bernilai False

angka 0 masih dibawah 5
angka 1 masih dibawah 5
angka 2 masih dibawah 5
angka 3 masih dibawah 5
angka 4 masih dibawah 5

In [ ]:
a = 0 
while a<5:
  print(a * "^")
  a+= 1
#membuat program bilangan bulat, dengan menambahkan "1" pada print. Sehingga apabila program bernilai true akan menghasilkan
#output seperti dibawah
#a+1 artinya setiap bilangan a akan ditambahkan 1 dan akan berhenti sampai a+1 berjumlah 5

^
^^
^^^
^^^^

In [ ]:
x = 3
while x+1 <6:
  print("Hai! Aku ari")
  x+= 2
#jika dieksekusi akan mencetak kata yang dalam print sebanya 1 kali
#karena ada syarat kalau x+1<6

Hai! Aku ari

In [ ]:
x = 3
while x+1 ==4:
  print("Hai! Aku ari")
#pada kasus ini, program akan mencetak kata di "Hai! Aku Ari" berkali-kali
#karena kita meminta program untuk menulis "Hai! Aku Ari", dengan syarat 3+1=4
#program akan terus berjalan, karena 3+1 terus menerus akan 4

In [ ]:
a = int(input('Masukkan bilangan ganjil : '))
while a % 3 != 1:
  a = int(input('Salah, masukkan lagi: '))
print('Benar')
#perulangan while dengan inputan
#diminta untuk menginput bilangan ganjil, apabila nilai yang kita input genap maka program akan menyuruh kita untuk menginput ulang
#apabila nilai yang kita input mengasilkan modulo tidak sama dengan 1, kama kita juga disuruh menginput ulang

Masukkan bilangan ganjil : 2
Salah, masukkan lagi: 5
Salah, masukkan lagi: 7
Benar

# 5.12 ***List pada Phyton***

In [ ]:
#list pada phyton
#List dapat digunakan saat kita akan merepresentasikan objek di dalam Python
#list dapat dipanggil sesuai urutan dan juga dapat dirubah
#Membuat list tinggal memasukkan berbagai nilai yang dipisahkan koma di antara tanda kurung siku
bunga = ["kamboja", "jempiring", "kembang sepatu", "mawar"]
print(bunga)

['kamboja', 'jempiring', 'kembang sepatu', 'mawar']

In [ ]:
bunga = ["kamboja", "jempiring", "kembang sepatu", "mawar"]
print(bunga [2])
print(bunga[-2])
#penomoran dimulai dari 0, apabila menghitung dari depan
#data yang paling belakang didefinisikan -1 apabila dihitung dari belakang, begitu seterusnya

kembang sepatu
kembang sepatu

In [ ]:
bunga = ["kamboja", "jempiring", "kembang sepatu", "mawar"]
bunga [0] = "lotus"
print(bunga)
#ini artinya bunga yang didefinisikan 0 (kamboja) digantikan dengan bunga lotus
print(bunga[0:3])#angka 0 menunjukan mulai darimana, sedangkan angka 3 menunjukkan sampai mana

['lotus', 'jempiring', 'kembang sepatu', 'mawar']
['lotus', 'jempiring', 'kembang sepatu']

In [ ]:
list = ['fisika', 'kimia', 1993, 2017]
print ("Nilai ada pada index 2 : ", list[2])
list[2] = 2001
print ("Nilai baru ada pada index 2 : ", list[2])
#kita dapat memperbarui nilai di dalam list dengan memberikan potongan di sisi kiri operator penugasan
#dan kita dapat menambahkan nilai ke dalam list dengan metode append ()

Nilai ada pada index 2 :  1993
Nilai baru ada pada index 2 :  2017

In [ ]:
#Operasi dasar pada list phyton
#Concatenation
Bilangan_1 = [1, 2, 3]
Bilangan_2 = [4, 5, 6]
print([1, 2, 3] + [4, 5, 6])
#Repetition
print(["HAI!"]*4)
#Membership
A = ["a", "b", "c", "d"]
print("b" in A)

[1, 2, 3, 4, 5, 6]
['HAI!', 'HAI!', 'HAI!', 'HAI!']
True

# 5.13 ***Metoda List***

In [ ]:
#Karena list merupakan objek, maka keberadaannya dapat dimanipulasi dengan
#menambahkan atau menghilangkan isi nya.
nim = ["01", "02", "03", "04", "05"]
nim.append ("06") #digunakan untuk menambahkan data, dan data yang ditambahkan ada pada urutan belakang
print(nim)

nim.insert(0, "10") #digunakan untuk menambahkan data, dan data yang ditambahkan terletak pada urutan terdepan
print(nim)

nim.remove("03") #digunakan untuk menghapus data
print(nim)

print("03" in nim) #digunakan apakah suatu data masih ada atau tertulis di suatu program
                    #ini akan bernilai False karena nim 03 sudah diremove sebelumnya
print("01" in nim) #ini akan bernilai True karena 01 tidak dihapus dan masih ada di dalam data

print(len(nim)) #digunakan untuk menampilkan jumlah data

['01', '02', '03', '04', '05', '06']
['10', '01', '02', '03', '04', '05', '06']
['10', '01', '02', '04', '05', '06']
False
True
6

In [12]:
bilangan = ["1","2","4","3","8","7","9","5","21"]
#append
print("menambahkan data pada bilangan dengan append")
bilangan.append ("11")
bilangan.append("10")
bilangan.append ("12")
print(bilangan)
print(" ")
print(len(bilangan))
print(" ") 
#insert
print("menambahkan data pada bilangan dengan insert")
bilangan.insert(0,12)
bilangan.insert(3,13)
bilangan.insert(5,20)
print(bilangan)
print(" ")
print(len(bilangan))

menambahkan data pada bilangan dengan append
['1', '2', '4', '3', '8', '7', '9', '5', '21', '11', '10', '12']

12

menambahkan data pada bilangan dengan insert
[12, '1', '2', 13, '4', 20, '3', '8', '7', '9', '5', '21', '11', '10', '12']

15

In [ ]:
list = ['fisika', 'kimia', 1993, 2017]
print ("Nilai ada pada index 2 : ", list[2])
list[2] = 2001
print ("Nilai baru ada pada index 2 : ", list[2])
#kita dapat memperbarui nilai di dalam list dengan memberikan potongan di sisi kiri operator penugasan
#dan kita dapat menambahkan nilai ke dalam list dengan metode append ()

Nilai ada pada index 2 :  1993
Nilai baru ada pada index 2 :  2001

# 5.14 ***For Loop***
Untuk mengulang blok kode selama beberapa waktu
Perulangan for mengatur variabel iterator untuk setiap nilai yang ada di dalam list, array atau string dan melakukan proses di dalam badan perulangan for yang bersangkutan.

In [2]:
#for loop digunakan untuk memanggil semua list
#for loop dan while loop
buah = ["mangga","durian", "salak", "jeruk"]
for jenis in buah: 
  print(jenis) 
#hasilnya akan sama denga while loop
print(" ")
buah = ["mangga","durian", "salak", "jeruk"]
i = 0
while i < len(buah): #ini menunjukkan apakah i lebih kecil dari banyaknya data buah
  print(buah[i])
  i+=1
#karena bernilai True, maka akan menghasilkan output yang sama dengan program for
#eksekusi terhadap blok kode dilakukan berulang kali sesuai dengan variabel yang mengatur perulangan.

mangga
durian
salak
jeruk

mangga
durian
salak
jeruk

In [ ]:
#penambahan kode yang lebih kompleks pada blok for
for i in [1,2,4,16]:
    x = i**3 - (i-1)*(i+1) #setiap data i dioperasikan pada data berikut
    print(x, end=",")#output yang dihasilkan sampai dengan data yang terakhir

1,5,49,3841,

In [ ]:
kalimat = "Hai aku suka BTS "
kata_kata = ["Hai", "aku", "suka", "BTS"]
for huruf in kalimat: 
  print(huruf) #jadi disini program akan menghasilkan setiap huruf dari kalimat
for kata in kata_kata:
  print(kata) #disini program akan menghasilkan per kata pada kata_kata
#huruf dan kata sebagai variabel (penampung elemen iterable)
#kalimat dan kata_kata sebagai iterable (nilai yang menjadi perulangan)
#print adalah perintah

H
a
i

a
k
u

s
u
k
a

B
T
S

Hai
aku
suka
BTS

In [1]:
nilai = [1,3,5,7]
for i in nilai:
  print(i)

1
3
5
7

In [5]:
kesukaan = ["BTS", "BLACKPINK" , "JISOO"]
for keinginan in kesukaan:
  print("saya ingin bertemu dengan", keinginan)

saya ingin bertemu dengan BTS
saya ingin bertemu dengan BLACKPINK
saya ingin bertemu dengan JISOO

# 5.15 ***Fungsi Range***
fungsi Range digunakan untuk menghasilkan list baru dengan rentang nilai tertentu. Fungsi range juga digunakan untuk menyederhanakan penulisan perulangan for loop

In [1]:
#Fungsi range berguna untuk membangkitkan bilangan berurutan atau berpola
#penggunaanya harus dikombinasikan dengan for loop
nilai = range(10)
print(nilai) #indeks dimulai dari 0
print(" ")
for angka in nilai:
  print(angka) #indeks dimulai dari 0 sehingga angka terakhir adalah 9
#
print(" ")
for angka in range(11,20):         
  print(angka)                                 
print(" ")
for angka in range(0,10,3):
  print(angka)
#ini akan menghasilkan outpt yang dimulai dari 0 dengan angka selanjutnya di loncat 3 angka dan batasnya adalah angka 10

range(0, 10)

0
1
2
3
4
5
6
7
8
9

11
12
13
14
15
16
17
18
19

0
3
6
9

In [ ]:
for i in range(5):
  print("Hello World")
#ini akan menghasilkan output "Hello World" sebanyak 5 kali

Hello World
Hello World
Hello World
Hello World
Hello World

In [7]:
data =[1,2,5,6,3,4,7,8,9,2]
terbesar = data[0]
for i in range(len(data)):
  if data[i] > terbesar:
    terbesar = data[i]
print(terbesar)
#untuk mencari data terbesar

9
9

In [8]:
data =[1,2,5,6,3,4,7,8,9,2]
terbesar = data[0]
for angka in data:
  if angka > terbesar:
    terbesar = angka
print(terbesar)
#untuk mencari data terbesar

9

In [9]:
data = [1,1,3,4,2,4,3,2,5,6,4,3]
data_unik = [] #membuat program agar tidak memiliki angka kembar
for angka in data: 
  if angka not in data_unik: #membandingkan setiap anggota data
    data_unik.append(angka)
print(data_unik)
#output yang dihasilkan tidak akan ada angka kembar, karena pada saat dibandingkan jika ada angka yang sama maka langsung dihapus

[1, 3, 4, 2, 5, 6]