# 5.5 *String Index*

In [ ]:
#Tugas pertemuan ketiga
#String indeks
#pengurutan variabel diurutkan dengan indeks yang dimulai dari 0. Urutan paling-
#terakhir merupakan urutan -1, urutan kedua terakhir di definisikan -2, begitu seterusnya
kegiatan = "belajar algoritma"
print(kegiatan[0:4])
#b didefinisikan 0, dan spasi juga masuk ke perhitungan
#output yang dihasilkan akan dimulai dari huruf yang mempunyai definisi 0 dan berakhir pada huruf yang didefinisikan 4

bela

In [ ]:
kegiatan = "belajar algoritma"
print(kegiatan[0:-2])
#contoh string index

belajar algorit

In [ ]:
nama = "Ni Komang Ariasih"
print(nama[4:-2:2])
#4 artinya dimulai dari huruf yang ke empat (o)
#-2 artinya sampai huruf belakang dikurang 2 (s)
#2 artinya dari huruf keempat terus loncat 2 kali
#perlu diingat bahwa spasi juga dihitung, sehingga spasi pertama didefinisikan 3, dan spasi kedua didefinisikan 10

oagAis

In [ ]:
nama = "Ariasih"
kegiatan = "belajar algoritma"
print(nama[0:3] + " "+kegiatan[0:7])
#mencoba menggabungkan variabel pada string index

Ari belajar

# 5.6 *String Method*

In [ ]:
#strings method digunakan untuk untuk membuang bagian spasi ataupun string kosong diawal string
#string method berbeda dengan string index yang mengurutkan variabel dari 0.
kelas = "Hari ini kelas Algoritma"
print(len(kelas))
#digunakan untuk mengetahui jumlah karakter

24

In [ ]:
kelas = "Hari ini kelas Algoritma"
kelas.upper()
#digunakan untuk mengubah huruf menjadi kapital semua
kelas_1 = "Universitas Udayana"
kelas_1.lower()
#digunakan untuk mengubah huruf menjadi huruf kecil semua
#pada program ini output yang dikeluarkan hanya program yang terakhir saja.

'universitas udayana'

In [ ]:
kelas = "Hari ini kelas Algoritma"
kelas.upper()
#digunakan untuk mengubah huruf menjadi kapital semua

'HARI INI KELAS ALGORITMA'

In [ ]:
kelas = "Hari ini kelas Algoritma"
kelas.find("ini")
#digunakan untuk memudahkan mencari kata atau kalimat tertentu

5

In [ ]:
#apabila ingin mengganti kata maupun kalimat, bisa menggunakan replace
#dengan kata yang ingin diganti pada bagian depan, dan kata yang digunakan untuk mengganti pada bagian belakang
kelas = "Hari ini kelas Algoritma"
kelas.replace("Hari ini kelas", "Sekarang")
#digunakan untuk mengganti kata atau kalimat
#apabila ingin mengganti kata atau kalimat, penulisan kata atau kalimat yang ingin diganti harus sesuai dengan yang sudah ada sebelumnya
#jika tidak, kata atau kalimat tidak akan berubah

'Sekarang Algoritma'

In [ ]:
kelas = "Hari ini kelas Algoritma"
kelas.replace("Ini kelas", "Sekarang")
#kalimat ini tidak akan berubah. Karena kata 'Ini' tidak ada dalam kalimat

'Hari ini kelas Algoritma'

In [ ]:
kelas = "Hari ini kelas Algoritma"
print("Ini" in kelas)

False

In [ ]:
kelas = "Hari ini kelas Algoritma"
print("ini" in kelas)

True

# 5.7 *Operasi Matematika di Phyton*

In [ ]:
#Terdapat beberapa operasi matematika di Phyton sepeti penjumlahan (+)
#Pengurangan (-), perkalian (*), pembagian (/), pembulatan pembagian (//), 
#Modulo (%), pemangkatan (**)
print(5+5)
print(8-2)
print(3*5)
print(18/4)
print(18//4)
print(10%2)
print(4**3)

10
6
15
4.5
4
0
64

In [ ]:
#Pada operasi matematika di Phyton juga terdapat augmented operator: contoh: x = 5, x+ = 2 
#artinya x = x + 2. Berlaku juga pada pengurangan dan perkalian.
x = 5
x+= 2
print(x)
x-= 3
print(x)
x*= 2
print(x)
#pada hal ini program menyelesaikan angka yang dimasukkan terlebih dahulu, lalu dikurang dengan 3 kemudian hasilnya dikalikan 2

7
4
8

In [ ]:
x = 15
print(x+2 + x*5)
#menggabungkan penjumlahan dan perkalian

92

# 5.8 *Operator perbandingan di Phyton*

In [ ]:
#operator perbandingan di phyton
#hasil outputnya berupa boolean
#adapun beberapa operator perbandingan di phyton antara lain; lebih besar (>)
#lebih kecil (<), lebih besar sama dengan (>=), lebih kecil sama dengan (<=),
#sama dengan (==), dan tidak sama dengan (!=)
X= 6>3
print(X)
X= 6<=3
print(X)
X= 6<3
print(X)
X= 6>=5
print(X)
X= 6==6
print(X)
X= 6!=6
print(X)

True
False
False
True
True
False

In [ ]:
#operator perbandingan tidak hanya digunakan pada tipe data angka saja, tetapi juga bisa digunakan pada tipe data string
print("Sekolah menengah" == "sekolah menengah")
print("Sekolah menengah" == "Sekolah menengah")
#yang pertama akan false karena ada perbedaa penggunaan huruf kapital pada "s"

False
True

# 5.9 *Operator Logika di Phyton*

In [ ]:
#operator logika di pyhton antara lain and, or dan not. Hasil outputnya berupa boolean
#and akan bernilai True jika keduanya bernilai True
#or akan bernilai True jika salah satunya bernilai True
#not akan menghasilkan nilai berlawanan. 
#operator digunakan untuk membandingkan 2 kondisi logika (True, False)
buah_duren = 5
buah_rambutan = 7
print(buah_duren > 5 and buah_rambutan < 6)
print(buah_duren > 5 or buah_rambutan < 6)
print((not buah_duren > 5 or buah_rambutan < 6))
#contoh keduanya bernilai False

False
False
True

In [ ]:
angka_pertama = 7
angka_kedua = 10
print(angka_pertama > 5 and angka_kedua < 6)
print(angka_pertama > 5 or angka_kedua < 6)
print((not angka_pertama > 5 or angka_kedua < 6))
print((not angka_pertama > 5 and angka_kedua < 6))
#salah satu bernilai True

False
True
False
False

In [ ]:
angka_pertama = 7
angka_kedua = 10
print(angka_pertama > 5 and angka_kedua < 15)
print(angka_pertama > 5 or angka_kedua < 15)
print((not angka_pertama > 5 or angka_kedua < 15))
print((not angka_pertama > 5 and angka_kedua < 15))
#keduanya bernilai True

True
True
True
False

# 5.10 *Operator if di Phyton*

In [ ]:
nilai = float (input("nilai anda adalah "))
if nilai >= 90:
  print("anda mendapatkan nilai A")
  print("selamat, bagus sekali")
if nilai < 90 and nilai >= 70:
  print("anda mendapatkan nilai B")
  print("tinggkatkan prestasi anda")
if nilai < 70 and nilai >= 50:
  print("anda mendapatkan nilai C")
  print("harus lebih giat belajar")
#float digunakan untuk apabila ingin memasukkan bilangan real
#if digunakan untuk pembanding benar atau salah
#apabila variabel bernilai True, maka program dapat dijalankan
#apabila variabel bernilai False, maka program tidak dapat dijalankan
#Jika if hanya bisa menjalakan program yang bernilai True, maka program yang bernilai salah dapat dijalankan menggunakan else

nilai anda adalah 80
anda mendapatkan nilai B
tinggkatkan prestasi anda

In [13]:
nilai = 10
if(nilai > 8):
  print("Sepuluh memang lebih besar dari delapan")
#program dapat dijalankan karena bernilai True
nilai = 10
if(nilai > 11):
  print("Sepuluh memang lebih besar dari sebelas")
#program tidak dijalankan karena bernilai False
print("Sepuluh memang lebih besar dari dua belas")
#program ini dijalankan karena berada di luar blok kode if
#blok kode di dalam python ditentukan oleh indentasi
#indentasi merupakan spasi yang ada sebelum print

Sepuluh memang lebih besar dari delapan
Sepuluh memang lebih besar dari dua belas

In [ ]:
nilai = 10
if(nilai > 11):
  print("Sepuluh memang lebih besar dari sebelas")
#program tidak dijalankan karena bernilai False

In [9]:
nilai = float (input("nilai anda adalah "))
if nilai >= 85:
  print("anda mendapatkan nilai A")
  print("selamat, bagus sekali")
elif nilai < 85 and nilai >= 70:
  print("anda mendapatkan nilai B")
  print("tinggkatkan prestasi anda")
elif nilai < 70 and nilai >= 50:
  print("anda mendapatkan nilai C")
  print("harus lebih giat belajar")
#kondisi elif hampir sama dengan if
#elif merupakan pengembangan dari if else
#jika pada if dan else hanya bisa mengeluarkan satu output atau pilihan, maka pada elif bisa mengeluarkan banyak pilihan
#sesuai dengan kondisi yang di buat

nilai anda adalah 76
anda mendapatkan nilai B
tinggkatkan prestasi anda

In [5]:
nilai = float (input("nilai anda adalah "))
if nilai >= 85:
  print("anda mendapatkan nilai A")
  print("selamat, bagus sekali")
elif nilai >= 70:
  print("anda mendapatkan nilai B")
  print("tinggkatkan prestasi anda")
elif nilai >= 50:
  print("anda mendapatkan nilai C")
  print("harus lebih giat belajar")
#perbedaan penggunaan elif dan if dapat dilihat pada contoh nilai dan nilai_2
#pada elif kita membuat 1 percabangan walaupun meskipun kondisi yang terpenuhi lebih dari 1

nilai anda adalah 90
anda mendapatkan nilai A
selamat, bagus sekali

In [8]:
nilai_2 = float (input("nilai anda adalah "))
if nilai_2 >= 85:
  print("anda mendapatkan nilai A")
  print("selamat, bagus sekali")
if nilai_2 >= 70:
  print("anda mendapatkan nilai B")
  print("tinggkatkan prestasi anda")
if nilai_2 >= 50:
  print("anda mendapatkan nilai C")
  print("harus lebih giat belajar")
#perbedaan penggunaan if dan elif dapat dilihat pada contoh nilai dan nilai_2
#sedangkan untuk if, kita membuat banyak percabangan. Karena setiap kita membuat blok kode if, artinya kita membuat satu percabangan
#dan outputnya pun sesuai dengan berapa banyak kondisi yang terpenuhi

nilai anda adalah 90
anda mendapatkan nilai A
selamat, bagus sekali
anda mendapatkan nilai B
tinggkatkan prestasi anda
anda mendapatkan nilai C
harus lebih giat belajar

In [13]:
tinggi = float(input("berapakah tinggi saya? "))
cm_atau_inci = input("dalam satuan apa? ")
if cm_atau_inci == "cm":
  tinggi = tinggi*0.393701
  print("Tinggi saya adalah " + str(tinggi) +" "+ "inci")
elif cm_atau_inci == "inci":
  tinggi = tinggi/0.393701
  print(f"Tinggi saya adalah " + str(tinggi) + "cm")

berapakah tinggi saya? 165
dalam satuan apa? cm
Tinggi saya adalah 64.960665 inci

In [3]:
#penggunaan if else
nilai = float (input("nilai anda adalah "))
if nilai >= 85 :
  print("anda mendapatkan nilai A")
  print("selamat, bagus sekali")
else :
  print("anda mendapatkan nilai B")
  print("tinggkatkan prestasi anda")
#program memeriksa terlebih dahulu nilai yang akan dimasukkan

nilai anda adalah 80
anda mendapatkan nilai B
tinggkatkan prestasi anda

In [4]:
nilai = 75
if nilai > 70:
  print("anda lolos")
else :
  print("anda tidak lolos")
#else digunakan untuk menyatakan kondisi sebaliknya yang ada pada if

anda lolos