In [ ]:
#print digunakan untuk mencetak kata yang ada di dalam tanda " " dan ' '
nama_depan = "angga"
nama_belakang = "saputra"
print(nama_depan+" "+nama_belakang)

angga saputra

In [ ]:
nama_depan = 'Ari'
nama_tengah = ''
nama_belakang = 'asih'
print(nama_depan + nama_tengah + nama_belakang)
#penggunaan tanda kutip harus berpasangan seperti " " dan ' '. Apabila menggunakan tanda yang berbeda (" '), akan muncul error

Ariasih

In [ ]:
nama_depan = "Ari'
nama_tengah = ''
nama_belakang = 'asih'
print(nama_depan + nama_tengah + nama_belakang)

SyntaxError: ignored

In [ ]:
nama = ' Ari'
kegiatan = ' ulang tahun'
print("selamat" + kegiatan + nama)
#Berikan spasi sebelum menulis nama, dan kegiatan dan setelah tanda petik pertama  agar outputnya menjadi lebih baik
#Berikan spasi pada akhir atau awal kata, sesuai dengan output yang diinginkan

selamat ulang tahun Ari

In [ ]:
nama = input("input nama anda:")
print("Selamat pagi, " + nama)

input nama anda:Ari
Selamat pagi, Ari

In [ ]:
uang_di_dompet = input("uang di dompet saya : ")
uang_di_dalam_tas = input("uang di tas saya : ")
print("jumlah total uang saya adalah " + uang_di_dompet + uang_di_dalam_tas)

uang di dompet saya : 50000
uang di tas saya : 100000
jumlah total uang saya adalah 50000100000

In [ ]:
bilangan_satu = ("50")
bilangan_kedua = ("53")
jumlah = (bilangan_satu) + (bilangan_kedua)
print("jumlah kedua bilangan adalah "+ str(103))

jumlah kedua bilangan adalah 103

In [ ]:
uang_di_dompet = input("uang di dompet saya : ")
uang_di_dalam_tas = input("uang di tas saya : ")
total_uang_saya = int(uang_di_dompet) + int(uang_di_dalam_tas)
print("jumlah uang saya adalah Rp " + str(total_uang_saya)
#output error karena kurang tanda kurung tutup di akhir

SyntaxError: ignored

In [ ]:
uang_di_dompet = input("uang di dompet saya : ")
uang_di_dalam_tas = input("uang di tas saya : ")
total_uang_saya = int(uang_di_dompet) + int(uang_di_dalam_tas)
print("jumlah uang saya adalah Rp " + str(total_uang_saya))
#input digunakan jika kita ingin memasukkan data
#pada program ini menggunakan dua type data yaitu int dan str
#int digunakan apabila ingin memasukkan bilangan bulat dan tidak mengandung pecahan
#str digunakan untuk gabungan huruf, angka dan karakter lainnya dan penambahan int

uang di dompet saya : 50000
uang di tas saya : 100000
jumlah uang saya adalah Rp 150000

In [ ]:
buah_duren = 5
buah_rambutan = 7
print(buah_duren > 5 and buah_rambutan < 6)

False

In [ ]:
nilai = float (input("nilai anda adalah "))
if nilai >= 90:
  print("anda mendapatkan nilai A")
  print("selamat, bagus sekali")
if nilai < 90 and nilai >= 70:
  print("anda mendapatkan nilai B")
  print("tinggkatkan prestasi anda")
if nilai < 70 and nilai >= 50:
  print("anda mendapatkan nilai C")
  print("harus lebih giat belajar")
#float digunakan untuk apabila ingin memasukkan bilangan real
#if digunakan untuk pembanding benar atau salah

nilai anda adalah 80
anda mendapatkan nilai B
tinggkatkan prestasi anda

In [2]:
nama = "Ari"
pekerjaan = "mahasiswi"
institusi = "Universitas Udayana"
print(nama + " adalah seorang " + pekerjaan + " di " + institusi)
#menggunakan type data formatted string untuk memudahkan kita dalam penulisan variabel, sehingga mengurangi kekeliruan

Ari adalah seorang mahasiswi di Universitas Udayana